@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 3%;
    --foreground: 0 0% 98%;
    --card: 228 15% 13%;
    --card-foreground: 0 0% 98%;
    --popover: 228 15% 13%;
    --popover-foreground: 0 0% 98%;
    --primary: 22 99% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 181 100% 26%;
    --secondary-foreground: 0 0% 98%;
    --muted: 222 15% 19%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 330 100% 18%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 15% 19%;
    --input: 222 15% 19%;
    --ring: 47 65% 52%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-inter;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-playfair;
  }
}

@layer components {
  .off-screen {
    @apply opacity-0 blur-lg translate-x-full transition-all duration-300
  }

  .on-screen {
    @apply opacity-100 blur-0 translate-x-0 transition-all duration-700
  }

  .nav-link {
    @apply relative inline-block py-2 px-4 text-foreground/80 hover:text-primary transition-colors duration-500 
    after:content-[''] after:absolute after:bottom-0 after:left-1/2 after:w-0 after:h-[1px] 
    after:bg-gradient-to-r after:from-transparent after:via-primary after:to-transparent 
    after:-translate-x-1/2 after:transition-all after:duration-500 after:ease-in-out 
    hover:after:w-full hover:after:left-0 hover:after:translate-x-0;
  }

  .glass-panel {
    @apply bg-white/5 backdrop-blur border border-white/10 shadow-lg;
  }

  .hover-lift { 
    @apply relative bottom-0 hover:bottom-1
  }

  .text-gradient {
    @apply bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent;
  }

  .button-primary {
    @apply relative px-8 py-3 bg-primary/10 hover:bg-primary/20 bottom-0 hover:bottom-1
    border hover:backdrop-blur border-primary/50 rounded-[24px] text-primary transition-all duration-500
    before:absolute before:inset-0 before:bg-[radial-gradient(circle,_rgba(255,100,0,0.5)_10%,_transparent_80%)]
    before:opacity-0 hover:before:opacity-100;
  }

  .button-secondary {
    @apply px-6 py-3 text-white inline-flex items-center gap-2 hover:text-gradient
  }
}

.hero-overlay {
  background: linear-gradient(
    to bottom,
    rgba(26, 31, 44, 0.3),
    rgba(26, 31, 44, 0.95)
  );
}
