@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsla(180, 30%, 5%, 1);
    --background-muted: hsla(180, 30%, 5%, 0.7);
    --background-more-muted: hsla(180, 30%, 5%, 0.5);
    --foreground: hsla(47, 53%, 81%, 1);
    --foreground-muted: hsla(47, 53%, 81%, 0.7);
    --foreground-more-muted: hsla(47, 53%, 81%, 0.5);
    --primary: hsla(22, 99%, 50%, 1);
    --primary-muted: hsla(22, 99%, 50%, 0.7);
    --primary-more-muted: hsla(22, 99%, 50%, 0.5);
    --secondary: hsla(181, 100%, 26%, 1);
    --secondary-muted: hsla(181, 100%, 26%, 0.7);
    --secondary-more-muted: hsla(181, 100%, 26%, 0.5);
    --accent: hsla(350, 63%, 20%, 1);
    --accent-muted: hsla(350, 63%, 20%, 0.7);
    --accent-more-muted: hsla(350, 63%, 20%, 0.5);
    --bg-glass: hsla(47, 53%, 81%, 0.05);
    --border-glass: hsla(47, 53%, 81%, 0.1);
    --danger: hsla(8 68% 66%, 1);
    --warning: hsla(52 59% 44%, 1);
    --success: hsla(152 45% 49%, 1);
    --info: hsla(217 80% 68%, 1);
    --b-radius-full: 9999px;
    --radius: 4px;
    --gap-xxl: 120px;
    --gap-xl: 48px;
    --gap-lg: 40px;
    --gap-md: 32px;
    --gap-sm: 24px;
    --gap-xs: 16px;
    --gap-xxs: 8px;
  }

  * {
    margin: 0;
    padding: 0;
  }

  body {
    background: var(--background);
    color: var(--foreground);
    @apply font-inter;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans font-bold;
  }
}

@layer components {
  .off-screen-right {
    @apply opacity-0 blur-lg translate-x-full;
    transition: all 0.3s ease-in-out;
  }

  .off-screen-left {
    @apply opacity-0 blur-lg -translate-x-full;
    transition: all 0.3s ease-in-out;
  }

  .off-screen-up {
    @apply opacity-0 blur-lg -translate-y-full;
    transition: all 0.3s ease-in-out;
  }

  .off-screen-down {
    @apply opacity-0 blur-lg translate-y-full;
    transition: all 0.3s ease-in-out;
  }

  .on-screen {
    @apply opacity-100 blur-0 translate-x-0;
    transition: all 0.7s ease-in-out;
  }

  .glass-panel {
    @apply backdrop-blur shadow-lg;
    background: var(--bg-glass);
    border: 1px solid var(--border-glass);
  }

  .hover-lift {
    @apply relative bottom-0 hover:bottom-1;
  }

  .nav-link {
    @apply relative inline-block py-2 px-4;
    color: var(--text);
    transition: colors 0.5s ease-in-out;
  }

  .nav-link:hover {
    color: var(--primary);
  }

  .nav-link::after {
    content: "";
    @apply absolute bottom-0 left-1/2 w-0 h-[1px] -translate-x-1/2;
    background: linear-gradient(
      to right,
      transparent,
      var(--primary),
      transparent
    );
    transition: all 0.5s ease-in-out;
  }

  .nav-link:hover::after {
    @apply w-full left-0 translate-x-0;
  }

  .button-primary {
    @apply max-md:px-4 md:px-8 py-3 glass-panel;
    border: 1px solid var(--primary);
    border-radius: var(--b-radius-full);
    color: var(--primary);
    transition: all 0.5s ease-in-out;
  }

  .button-primary:hover {
    color: var(--primary);
    border: 1px solid var(--border-glass);
    transform: scale(1.02);
  }

  .button-primary::before {
    content: "";
    @apply absolute inset-0 opacity-0 transition-all duration-500;
    background: radial-gradient(
      circle,
      var(--primary-more-muted),
      transparent 80%
    );
  }

  /*I'm going to make the button glow from where it's being hovered.*/
  .button-primary:hover::before {
    @apply opacity-70;
  }

  .button-secondary {
    @apply px-6 py-3 inline-flex items-center gap-2;
    color: var(--text);
    transition: all 0.5s ease-in-out;
  }

  .button-secondary:hover {
    background: linear-gradient(to right, var(--primary), var(--secondary));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .animate-smooth-scroll {
    animation: smooth-scroll 30s linear infinite;
  }

  .animate-smooth-scroll-paused {
    animation: smooth-scroll 30s linear infinite;
    animation-play-state: paused;
  }

  @keyframes smooth-scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
